.button {
    width: 240px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #F4CE14;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.button:active{
    cursor: pointer;
    transform: scale(1);
    box-shadow: none;
}

.button p {
    width: 100%;
    margin: auto;
    text-align: center ;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
}