
h1 {
    margin: 0px;
    font-weight: 400;
    color: #F4CE14;
}

.two-columns{
    width: 100vw;
    margin: 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
    background-color: #495e57;
    color: #ffffff;
}

.text-part{
    width: 50%;
    margin: 20px 0px 20px 150px;
}

.text-part p{
    width: 50%;
}

.offbeat-picture {
    position: relative;
    width: 50%;
}

.offbeat-picture img {
    max-width: 60%;
    width: 350px;
    height: 350px;
    position: relative;
    top: 80px;
    border-radius: 10px;
    object-fit: cover;
}

