h2 {
    color: #495e57;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1em black;
}

.reservations-page-container {
    margin: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #EDEFEE;
}

.calendar-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hours-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}